@font-face {
    font-family: 'monserrat';
    src: url('./assets/montserrat_alternates_regular.ttf');
}

html, body {
    font-family: 'monserrat' !important;
    overflow-x: hidden !important;
}

.svg-inline--fa {
    margin: 0 0.5em;
}

.navbar-custom {

    font-size: small !important;
    
    a {
        color: #ffffff !important;
    }

    a:hover {
        color: #5AB612 !important;
    }

    .navbar-info {
        background-color: #49BEB7;
        padding: 0 10em !important;
        color: #ffffff;
        display: flex;
        justify-content: space-evenly;
        padding: 1em !important;
    }
    
    .navbar-main {
        z-index: 10;
        background: linear-gradient(to right, #ffffff 7%, #085F63 50%);
        padding: 3vh 10vw;

        .navbar-menu {
            display: flex;
            justify-content: space-evenly;
            flex-basis: 50em;
        }
    }

    .navbar-btn {
        background-color: #ffffff;
        color: #000000;
        border-radius: 5em;
        padding: 0.6em 2em 0.6em 0.2em;
        display: flex;
        align-items: center;
        font-size: small;

        .banca-btn-icon {
            color: #ffffff;
            background-color: #49BEB7;
            border-radius: 100%;
            padding: 0.3em;
            margin: 0 0.2em;
            transform: rotate(42deg);
        }
    }
}

.banca-online-btn {
    background-color: #085F63 !important;
    color: #ffffff !important;
    border-radius: 5em !important;
    padding: 0.6em 2em 0.6em 0.2em !important;
    display: flex !important;
    align-items: center !important;
    font-size: small !important;
    width: fit-content !important;

    .banca-btn-icon {
        color: #ffffff;
        background-color: #49BEB7;
        border-radius: 100%;
        padding: 0.3em;
        margin: 0 0.2em;
        transform: rotate(42deg);
    }
}

.footer-custom {
    background-color: #085F63;
    color: #ffffff !important;

    img {
        filter: brightness(170%);
    }

    li {
        padding: 0.5em 0;
    }
}

.background-image img {
    
    width: 100%;
    object-fit: contain;
    filter: opacity(90%);
}

.card-custom {
    z-index: 3;
    position: absolute;
    width: fit-content;
    max-width: fit-content;

    top: 50%;
    left: 60%;

    .card-title {
        font-size: 2.5em;
    }

    .card{
        width: fit-content;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 2.5em;
    }

    button {
        background-color: #085F63;
        border-radius: 20px;
        width: 70%;
        padding: 1em;
        font-size: small;
    }
}

.services-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.services-grid-container {
    padding: 0 25% !important;
}

.titles-section {
    display: flex;
    justify-content: center;
}
.mini-title {
    padding: 0.2em 0.6em;
    font-size: small;
    color: #ffffff;
    background-color: #49BEB7;
    border-radius: 20px;
    width: fit-content !important;
    letter-spacing: .2em;
}

.big-title {
    font-weight: bolder;
}

.medium-title {
    font-weight: bold;
}

.services-card {
    background-color: #49BEB7 !important;
    padding: 3em 2em 3em 3em;
    text-align: left;
    font-size: small;
    border: none !important;
    height: 98% !important;

    .card-title {
        margin: 1em 0;
        font-size: large;
        font-weight: bold;
    }

    img {
        width: 23%;
    }
}

.last-service {
    padding: 3em 0 0 3em !important;
    display: grid !important;
    grid-template-columns: auto auto !important;

    div {
        padding-bottom: 1em;
        z-index: 3;

        .card-text {
            padding-bottom: 2em;
        }
    }


    img {
        width: 16%;
    }

    .back-image {
        z-index: 1;
        width: auto;
        padding: 0.7em 0;
        margin: 0;
        border-radius: 1rem;
        filter: opacity(70%);
    }
}

.process {
    padding: 0 10em !important;
    margin: 6em;

    img { 
        width: 42em;
        padding: 3em;
    }
}

.process-desc {
    margin: 1.6em 0 !important;
}

@media (max-width: 1272px) {

    body {
        font-size: 90%;
    }

    .navbar-main {
        padding: 5vh 3vw !important;
    }

    .card-custom {
        top: 60%;
        left: 50%;

    }

    .services-grid-container {
        padding: 0 20% !important;
    }

    .back-image {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 50% !important;
    }
}

@media (max-width: 992px) {
 
    .card-custom {
        top: 40%;
        left: 30%;
    }

    .services-grid-container {
        padding: 0 15% !important;
    }
}

@media (max-width: 861px) {
    
    .card-custom {
        font-size: 70% !important;
        top: 40%;
        left: 35%;

        button {
            font-size: 80% !important;
            width: auto !important;
        }
    }

    .process {
        padding: 0 5em !important;
        
        img {
            width: 90vw;
        }
    }


}

@media (max-width: 635px) {
    
    .card-custom {
        font-size: 50% !important;
        top: 45%;
        left: 35%;

        button {
            width: auto !important;
        }
    }

    .services-grid-container {
        padding: 0 25% !important;
    }

    .last-service {
        padding: 3em 2em 0 3em !important;
    }

    .back-image {
        display: none;
    }

    .footer-custom {
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 508px) {

    .card-custom {
        font-size: 40% !important;
        top: 45%;
        left: 35%;

        button {
            width: auto !important;
        }
    }

    .footer-custom .row {
       margin: 0;
       padding: 3rem 0 !important;
    }

}

@media (max-width: 370px) {

    .navbar-main {
        padding: 2vh 10vw !important;
    }
    .navbar-brand {
        width: 60% !important;

        img {
            width:70% !important;
        }
    }
    
    .card-custom {
        font-size: 37% !important;
        top: 27%;
        left: 30%;

        button {
            width: auto !important;
        }
    }

    .services-grid-container {
        padding: 0 20% !important;
    }
 
}