@font-face {
    font-family: 'monserrat';
    src: url('./assets/montserrat_alternates_regular.ttf');
}

body {
    font-family: 'monserrat' !important;
}

.navbar-custom {

    font-size: small !important;
    
    a {
        color: #ffffff !important;
    }

    a:hover {
        color: #5AB612 !important;
    }

    .navbar-info {
        background-color: #49BEB7;
        padding: 0 10em !important;
        color: #ffffff;
        display: flex;
        justify-content: space-evenly;
        padding: 1em !important;
    }
    
    .navbar-main {
        background: linear-gradient(to right, #ffffff 7%, #085F63 50%);
        padding: 1.5em 13em !important;

        .navbar-menu {
            width: 90%;
            display: flex;
            justify-content: space-around;
            padding: 0 12em !important;
        }
    }

    .navbar-btn {
        background-color: #ffffff;
        color: #000000;
        border-radius: 5em;
        padding: 0.5em 2em 0.5em 0.2em;

        i {
            display: inline-block;
            background-color: #085F63;
            border-radius: 100%;
            padding: 0 0.4em;
            margin: 0.5em;
        }
    }
}

.footer-custom {
    background-color: #085F63;
    color: #ffffff !important;

    img {
        filter: brightness(170%);
    }

    li {
        padding: 0.5em 0;
    }
}